body {
  margin: 0 auto;
  padding: 0;

  main {
    display: grid;
    grid-template-areas:
      "header header"
      "contact product"
      "button button";
    h1 {
      grid-area: header;
      font-family: Mon, Arial, Helvetica, sans-serif;
      text-align: center;
      margin: 15px 0;
    }
    h4 {
      font-size: 18px;
      color: #333;
      margin: 15px 0;
    }
    section {
      grid-area: contact;
    }
    aside {
      grid-area: product;
      width: 100%;
      border-radius: 10px;
      background-color: #eeeeee;
      padding: 10px 20px;
      p {
        display: block;
        width: 50%;
      }
      img {
        width: 30%;
        border-radius: 10px;
        margin-right: 20px;
      }
      .product {
        width: 100%;
        display: flex;
        margin: 10px 0;
      }
    }
    button {
      grid-area: button;
      width: 20%;
      padding: 14px 0;
      border-radius: 10px;
      background-color: #f2994a;
      color: #fff;
      font-weight: 600;
      text-align: center;
      border: none;
    }
    input {
      border: 1px solid #828282;
      padding: 8px 5px 8px 35px;
      color: #828282;
      font-size: 14px;
      border-radius: 5px;
      width: 100%;
    }

    label {
      font-size: 12px;
      color: #4f4f4f;
      margin: 10px 0;
      position: relative;
      display: block;
    }
    select {
      padding: 8px 5px 8px 35px;
      border-radius: 5px;
      border: 1px solid #828282;
    }
  }
}
